@font-face {
    font-family: 'Suisse';
    src: url('../fonts/suissebpintl-regular-webfont.ttf');
    src: url('../fonts/suissebpintl-regular-webfont.woff2') format('woff2'),
        url('../fonts/suissebpintl-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
